body {
	/* TODO: adapt style to medium/device */
	font-family: Arial, sans-serif;
	font-size: 16pt;
	margin: 0;
	padding: 0;
}

body p {
	margin: 1em;
}

#load-button {
	font-size: 1em;
}

#dirfield {
	font-size: 1em;
	line-height: 1em;
}

#controls {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	background-color: #333;
	opacity: 0.9;
}

#controls div {
	padding-top: 1em;
	padding-bottom: 1em;
	float: left;
	box-shadow: inset 0 0 10px 10px #00f;
}

#controls div#previous {
	width: 33%;
}

#controls div#play {
	width: 34%;
}

#controls div#next {
	width: 33%;
}

ul.listing {
	margin: 0;
	margin-bottom: 3em;
	padding: 0;
	list-style-type: none;
	list-style-position: inside;
}

ul.listing li {
	padding: 1em;
	background-color: #eee;
}

ul.listing li:nth-child(even) {
	background-color: #ddd;
}

ul.listing li:hover {
	color: #fff;
	background-color: #229 !important;
}

.playing {
	color: #fff;
	background-color: #707 !important;
}
