html, body {
	font-family: sans-serif;
	color: #fff;
	background-color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-shadow: 0 0 .5em #fff;
}

li { list-style-type: none; }

#topbar {
	padding: 1em;
	height: 5em;
	margin: 0;
	border-bottom: .25em solid #707;
}

#volume-bar { display: block; }
#volume-controls { float: left; }
#playback-controls {
	float: right;
	text-align: center;
}

#playback-controls ul li:first-child { margin-left: 0; }
#playback-controls ul li {
	display: inline-block;
	width: 3.5em;
	height: 2.5em;
	overflow: hidden; /* TODO: remove */
	margin-left: 1em;
	background-color: #707;
	cursor: pointer;
}

ul.librarylist li {
	cursor: pointer;
	padding: 1em;
	margin: 0;
}

ul.librarylist {
	margin-top: 1em;
	padding: 0;
	border-left: .25em solid #707;
}
ul#librarylist {
	margin-top: 0;
	border: none;
}

#library {
	height: calc(100% - 7.25em);
	overflow-y: auto;
}

.playing {
	color: #000;
	background-color: #ff0 !important;
	text-shadow: 0 0 .5em #000;
}

.open {
	border-left: .25em solid #070;
}
